@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Material+Icons");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #f3ebf6;
}

#light {
  background: #f3ebf6;
}

#dark {
  background: #46045e;
}

.switch {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#light .switch label {
  color: #000;
}

#dark .switch label {
  color: #fff;
}